html {
  background-color: lavender;
}
.title {
  text-align: center;
  font-size: 30px;
  border: 1px solid gray;
}

.links {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.title, .links {
  background-color: lightgreen;
  margin: 15px;
  padding: 15px;
}

main {
  display: block;
  height: 100%;
}
