html {
    background-color: aliceblue;
}
.title {
    text-align: center;
    font-size: 30px;
    border: 1px solid gray;
}

.links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.title, .links, p {
    background-color: moccasin;
    margin: 15px;
    padding: 15px;
}

p {
    font-size: 18px;
}
